<!doctype html>
<html lang="pt-br">
    {% load custom_filters %}
    
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Folhas de Estilo Externas -->
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Folhas de Estilo Locais -->
    <link rel="stylesheet" href="/static/css/contas_receber.css">
    <title>SGC</title>

    <style>
       
        /* altera ambiente do cabeçalho e linha q fica abaixo */
        .auto-layout {
            table-layout: auto; /* Ajusta o layout da tabela conforme o conteúdo */
            margin-left: auto;
            margin-right: auto;
            /* border-collapse: separate; */
            border-spacing: 0px; /* Aumenta a distância entre as colunas */
        }
        /* altera ambiente do botão cadastrar e buscar */
        .box {
            width: 350px;
            height: 32px;
            display: inline-block;
            margin-right: 20px; /* Adiciona margem à direita para separar as divs horizontalmente */
            margin-bottom: 20px; /* Adiciona margem inferior para separar as divs verticalmente */
        }
    </style>  
</head>

<body>
    <!-- Barra de Navegação -->
    <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">CONDOMINIUM</a>
        </div>
    </nav>

    <!-- Corpo da Página -->
    <main class="container">
        <h1 id="titulo_list">CONTAS A RECEBER</h1>

        <!-- Opções de Pesquisa e Cadastro -->
        <div class="container_1">
            <div class="box">
                <a href="{% url 'contas_receber_create' %}" class="btn btn-primary" id="cadastrar">CADASTRAR LANÇAMENTO</a>
            </div>

            <div class="box" id="divBusca">
                <input type="text" id="txtBusca" placeholder="dd/mm/aa" />
                <button id="btnBusca">BUSCAR</button>
            </div>
        </div>

        <!-- Tabela de Contas a Receber -->
        <table id="ContasReceber" class="table auto-layout">
            <thead>
                <tr>
                    <th scope="col" class="close-th">CONTA</th>
                    <th scope="col" class="close-th">UNIDADE</th>
                    <th scope="col" class="close-th">TIPO DOCUMENTO</th>
                    <th scope="col" class="close-th">Nº DOCUMENTO</th>
                    <th scope="col" class="close-th">DATA VENCIMENTO</th>
                    <th scope="col" class="close-th">VALOR</th>
                    <th scope="col" class="close-th">DATA RECEBIMENTO</th>
                    <th scope="col" class="close-th">VALOR</th>
                    <th scope="col" class="close-th">RECEBIDO POR</th>       
                    <th scope="col" class="close-th">CONTA CORRENTE</th>           
                </tr>
            </thead>

            <tbody>
                {% for rl in contas_receber_list %}
                <tr>
                    <td>{{ rl.categoria.nome }}</td> 
                    <td>{{ rl.unidade_id.bloco_id.bloco }} {{ rl.unidade_id.unidade }}</td>
                    <td>{{ rl.tipo_documento }}</td>
                    <td>{{ rl.numero_documento }}</td> 
                    <td>{{ rl.data_vencimento|date:"d/m/y" }}</td>
                    <td>{{ rl.valor|currency_brl }}</td>
                    <td>{{ rl.data_recebimento|format_date|default_if_none:"" }}</td>
                    <td>{{ rl.valor_recebido|currency_brl }}</td>
                    <td>{{ rl.banco_id.nome_banco|default_if_none:" " }}</td>     
                    <td>{{ rl.banco_id.conta_corrente|default_if_none:" " }}</td>             
                    <td>
                        <span class="texto-branco">
                            {{ rl.descricao|truncate_document }}
                        </span>
                    </td>
                    
                    <td style="border: none; width:300px">
                        {% if rl.pk %}
                            <a href="{% url 'contas_receber_receber' pk=rl.pk %}" class="btn btn-primary btn-sm">RECEBER</a>
                        {% else %}
                            <p>Erro: ID não encontrado para esta conta.</p>
                        {% endif %}

                        <!-- <a href="{% url 'contas_receber_receber' pk=rl.pk %}" class="btn btn-primary btn-sm">RECEBER</a> -->
                        <a href="{% url 'contas_receber_update' pk=rl.pk %}" class="btn btn-primary btn-sm">ALTERAR</a>
                        <a href="{% url 'contas_receber_delete' pk=rl.pk %}" class="btn btn-danger btn-sm">EXCLUIR</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <!-- Scripts JavaScript -->
    <script> 
        function handleSearch() {
            document.getElementById('txtBusca').addEventListener('input', function () {
                var searchText = this.value.toLowerCase();
                var rows = document.querySelectorAll('#ContasReceber tbody tr'); // Corrigido o ID da tabela
    
                rows.forEach(function (row) {
                    // Seleciona a coluna com data_vencimento (4 = quinta coluna)
                    var dataVencimento = row.querySelectorAll('td')[4].textContent.toLowerCase(); 
                    
                    // Verifica se a data contém o texto da busca
                    if (dataVencimento.includes(searchText)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        }
    
        document.addEventListener('DOMContentLoaded', function () {
            handleSearch();
        });
    </script>  

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
