<!doctype html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Folhas de Estilo Externas -->
        <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Folhas de Estilo Locais -->
        <link rel="stylesheet" href="/static/css/usuarios.css">
        <title>SGC</title>
    </head>

    <body>
        <!-- Barra de Navegação -->
        <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">CONDOMINIUM</a>
            </div>
        </nav>

        <!-- Corpo da Página -->
        <main class="container">
            <h1 id="titulo_list">USUÁRIOS DO SISTEMA</h1>

            <!-- Opções de Pesquisa e Cadastro -->
            <div class="container_1">
                <div class="box">
                    <a href="{% url 'usuarios_create' %}" class="btn btn-primary" id="cadastrar">CADASTRAR USUÁRIOS</a>
                </div>

                <div class="box" id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Usuário/CPF" />
                    <button id="btnBusca">BUSCAR</button>
                </div>
            </div>

            <!-- Tabela de Usuários -->
            <table id="usuariosTable" class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <!-- <a href="#" class="sort-header link-arrow down" data-sort="username">
                                <span
                                    class="sort-icon">
                                </span>
                            </a> -->
                        </th>
                        <th scope="col">USUÁRIO</th>
                        <th scope="col">SENHA</th>
                        <th scope="col">CPF USUÁRIO</th>
                        <th scope="col">NÍVEL</th>
                        <th scope="col">CONDOMÍNIO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usua in usuarios_list %}
                    <tr>
                        <td class="linha">{{ forloop.counter }}</td>
                        <td class="username">{{ usua.username }}</td>
                        <td>{{ usua.password }}</td>
                        <td id="cpf_cell_{{ forloop.counter }}">{{ usua.cpf_usuario }}</td>
                        <td>{{ usua.nivel }}</td>
                        <td>{{ usua.n_condominio.n_condominio }}</td>
                        <td style="border: none; width:200px">
                            <a href="{% url 'usuarios_update' pk=usua.pk %}" class="btn btn-primary btn-sm">ALTERAR</a>
                            <a href="{% url 'usuarios_delete' pk=usua.pk %}" class="btn btn-danger btn-sm">EXCLUIR</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

        <!-- Scripts JavaScript -->
        <script>
            // Função para manipular a ordenação das colunas
            function handleSort() {
                var headers = document.querySelectorAll('.sort-header');
                headers.forEach(function (header) {
                    header.addEventListener('click', function () {
                        var column = this.getAttribute('data-sort');
                        var icon = this.querySelector('.sort-icon');
                        var isAscending = icon.classList.contains('asc');
                        toggleSortIcon(icon, isAscending);
                        sortTable(column, isAscending);
                        rotateArrow(icon, isAscending);
                    });
                });
            }

            // Função para alternar o ícone de ordenação
            function toggleSortIcon(icon, isAscending) {
                icon.classList.toggle('asc', !isAscending);
                icon.classList.toggle('desc', isAscending);
            }

            // Função para ordenar as linhas da tabela
            function sortTable(column, isAscending) {
                var table = document.getElementById('usuariosTable');
                var tbody = table.querySelector('tbody');
                var rows = Array.from(tbody.rows);

                rows.sort(function (a, b) {
                    var x = a.cells[1].textContent.trim().toLowerCase();
                    var y = b.cells[1].textContent.trim().toLowerCase();
                    return isAscending ? x.localeCompare(y) : y.localeCompare(x);
                });

                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }

                rows.forEach(function (row) {
                    tbody.appendChild(row);
                });
            }

            // Função para girar a seta do ícone de ordenação
            function rotateArrow(icon, isAscending) {
                if (icon && icon.parentElement) {
                    if (isAscending) {
                        icon.parentElement.classList.add('rotate');
                    } else {
                        icon.parentElement.classList.remove('rotate');
                    }
                }
            }

            // Função para manipular a pesquisa/filtragem
            function handleSearch() {
                document.getElementById('txtBusca').addEventListener('input', function () {
                    var searchText = this.value.toLowerCase();
                    var rows = document.querySelectorAll('#usuariosTable tbody tr');

                    rows.forEach(function (row) {
                        var username = row.querySelector('.username').textContent.toLowerCase();
                        var cpf = row.querySelector('[id^="cpf_cell_"]').textContent.toLowerCase();
                        // Check if either username or CPF contains the search text
                        if (username.includes(searchText) || cpf.includes(searchText)) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            }

            // Função para formatar os números de CPF
            function formatCPF() {
                var cpfCells = document.querySelectorAll('[id^="cpf_cell_"]');
                cpfCells.forEach(function (cell) {
                    var cpf = cell.textContent;
                    var cpfFormatted = cpf.replace(/^(\d{3})(\d{3})(\d{3})(\d{2})$/, '$1.$2.$3-$4');
                    cell.textContent = cpfFormatted;
                });
            }

            // Ouvinte de evento para DOMContentLoaded para chamar as funções necessárias
            document.addEventListener('DOMContentLoaded', function () {
                handleSort();
                handleSearch();
                formatCPF();
            });
        </script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
