<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SGC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/moradores.css">
    <style>
        .input-bottom {
            margin-bottom: 5px;
        }
        input[type="text"], input[type="date"], input[type="number"], select {
            width: 220px;
            height: 30px;
        }
        .container-cols {
            display: flex;
            gap: 20px;
        }
        .input-col {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .input-col .input-row {
            margin-bottom: 20px;
        }
        .field-error {
            border: 2px solid red;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'moradores_list' %}">CONDOMINIUM</a>
        </div>
    </nav>

    <main class="container">
        <h1 id="titulo">ALTERAÇÃO DE MORADORES</h1>
        <div class="painel" style="height: 500px;">
            <form method="POST">
                {% csrf_token %}
                <div>
                    {% if form.errors %}
                        <div class="alert alert-danger error-duplicate" role="alert">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li><strong>{{ field }}:</strong> {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <!-- Coluna 1 -->
                <div id="bloco1" class="container-cols d-flex justify-content-center">
                   
                    <div id="coluna" class="input-col-md-2">
                        <div id="linha" class="input-row no-gutters">
                            
                            <div class="input-bottom">
                                <label for="cpf_condomino">CPF condômino:</label> <br>
                                <input id="cpf_condomino" name="cpf_condomino" class="form-control-sm {% if form.cpf_condomino.errors %}field-error{% endif %}" type="text"
                                       value="{{ morador.cpf_condomino.cpf_condomino }}" readonly="readonly">
                                {% if form.cpf_condomino.errors %}
                                    <div class="text-danger">{{ form.cpf_condomino.errors }}</div>
                                {% endif %}
                            </div>




                        </div>
                    </div> 
                </div> 

                <div id="bloco2" class="container-cols d-flex justify-content-center">
                    
                    <!-- Coluna 1 -->
                    <div id="coluna" class="input-col-md-2">
                        <div class="input-bottom"><br> 
                            <label for="cpf_morador">CPF morador:</label> <br>
                            <input id="cpf_morador" name="cpf_morador" class="form-control-sm {% if form.cpf_morador.errors %}field-error{% endif %}" type="text" value="{{ form.instance.cpf_morador|slice:':3' }}.{{ form.instance.cpf_morador|slice:'3:6' }}.{{ form.instance.cpf_morador|slice:'6:9' }}-{{ form.instance.cpf_morador|slice:'9:' }}" readonly>
                            {% if form.cpf_morador.errors %}
                                <div class="text-danger"></div>
                            {% endif %}
                        </div> 

                        <div class="input-bottom">
                            <label for="data_nascimento_morador">Data nascimento:</label> <br>
                            <input id="data_nascimento_morador" name="data_nascimento_morador" class="form-control-sm {% if form.data_nascimento_morador.errors %}field-error{% endif %}" type="date" 
                                value="{{ form.instance.data_nascimento_morador|date:'Y-m-d' }}" tabindex="2">
                            {% if form.data_nascimento_morador.errors %}
                                <div class="text-danger"></div>
                            {% endif %}
                        </div>

                        <div class="input-bottom">
                            <label for="email_morador">Email:</label> <br>
                            <input id="email_morador" name="email_morador" class="form-control-sm {% if form.email_morador.errors %}field-error{% endif %}" type="text" value="{{ form.instance.email_morador }}" tabindex="4">
                            {% if form.email_morador.errors %}
                                <div class="text-danger"></div>
                            {% endif %}
                        </div>   

                    </div>

                    <!-- Coluna 2 -->
                    <div id="coluna" class="input-col-md-2">
                        <div id="linha" class="input-row no-gutters"><br>   

                            <div class="input-bottom">
                                <label for="nome_morador">Nome do morador:</label> <br>
                                <input id="nome_morador" name="nome_morador" class="form-control-sm {% if form.nome_morador.errors %}field-error{% endif %}" type="text" value="{{ form.instance.nome_morador }}" maxlength="60" autofocus tabindex="1">
                                {% if form.nome_morador.errors %}
                                    <div class="text-danger"></div>
                                {% endif %}
                            </div>
                            
                            <div class="input-bottom">
                                <label for="celular_morador">Celular:</label><br>
                                <input id="celular_morador" name="celular_morador" class="form-control-sm {% if form.celular_morador.errors %}field-error{% endif %}" type="text" value="({{ form.instance.celular_morador|slice:':2' }}) {{ form.instance.celular_morador|slice:'2:7' }}-{{ form.instance.celular_morador|slice:'7:' }}" minlength="11" maxlength="15" tabindex="3">
                                {% if form.celular_morador.errors %}
                                    <div class="text-danger"></div>
                                {% endif %}
                            </div>

                            <div class="input-bottom">
                                <label for="parentesco_condomino">Parentesco c/ condômino:</label> <br>
                                <select id="parentesco_condomino" name="parentesco_condomino" class="form-control-sm {% if form.parentesco_condomino.errors %}field-error{% endif %}">
                                    <option value="">---</option>
                                    {% for key, value in form.parentesco_condomino.field.choices %}
                                        <option value="{{ key }}" {% if form.instance.parentesco_condomino == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.parentesco_condomino.errors %}
                                    <div class="text-danger"></div>
                                {% endif %}
                            </div>                         
                                                      
                        </div>
                    </div>
                </div>
                <br><br>  
                            
                <button class="btn btn-primary col-2 me-2 btn-block" value="Update" id="btnsalvar" type="submit">SALVAR</button>                
            </form>
        </div>
    </main>

    <script>
        function validaCPF(cpf) {
            cpf = cpf.replace(/\D+/g, '');
            if (cpf.length !== 11) return false;
            if (/^(\d)\1+$/.test(cpf)) return false;
            let soma = 0, resto;
            for (let i = 1; i <= 9; i++) soma += parseInt(cpf.substring(i - 1, i)) * (11 - i);
            resto = (soma * 10) % 11;
            if ((resto === 10) || (resto === 11)) resto = 0;
            if (resto !== parseInt(cpf.substring(9, 10))) return false;
            soma = 0;
            for (let i = 1; i <= 10; i++) soma += parseInt(cpf.substring(i - 1, i)) * (12 - i);
            resto = (soma * 10) % 11;
            if ((resto === 10) || (resto === 11)) resto = 0;
            return resto === parseInt(cpf.substring(10, 11));
        }

        function formataCPF(cpf) {
            cpf = cpf.replace(/\D/g, ''); // Remove qualquer caractere não numérico
            if (cpf.length === 11) {
                return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            }
            return cpf;
        }

        function desformataCPF(cpf) {
            return cpf.replace(/\D/g, ''); // Remove qualquer caractere não numérico
        }

        function formataCelular(celular) {
            celular = celular.replace(/\D/g, ''); // Remove qualquer caractere não numérico
            if (celular.length === 11) {
                return celular.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
            }
            return celular;
        }

        function desformataCelular(celular) {
            return celular.replace(/\D/g, ''); // Remove qualquer caractere não numérico
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Formatar campos ao carregar a página
            const cpfCondominoInput = document.getElementById('cpf_condomino');
            const cpfMoradorInput = document.getElementById('cpf_morador');
            const celularMoradorInput = document.getElementById('celular_morador');

            cpfCondominoInput.value = formataCPF(cpfCondominoInput.value);
            cpfMoradorInput.value = formataCPF(cpfMoradorInput.value);
            celularMoradorInput.value = formataCelular(celularMoradorInput.value);
        });

        document.querySelector('form').addEventListener('submit', function(event) {
            const cpfCondominoInput = document.getElementById('cpf_condomino');
            const cpfMoradorInput = document.getElementById('cpf_morador');
            const celularMoradorInput = document.getElementById('celular_morador');

            if (!validaCPF(cpfCondominoInput.value) || !validaCPF(cpfMoradorInput.value)) {
                event.preventDefault();
                alert('CPF inválido');
            } else {
                // Desformatar campos antes de enviar o formulário
                cpfCondominoInput.value = desformataCPF(cpfCondominoInput.value);
                cpfMoradorInput.value = desformataCPF(cpfMoradorInput.value);
                celularMoradorInput.value = desformataCelular(celularMoradorInput.value);
            }
        });
    </script>
</body>
</html>
