<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SGC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/ocorrencias.css">

    <style>
        .container-cols {
            display: flex;
            gap: 20px; /* Espaçamento entre as colunas */
        }
        .input-col {
            flex: 1; /* Cada coluna ocupa o mesmo espaço */
            display: flex;
            flex-direction: column;
        }
        .input-col .input-row {
            margin-bottom: 40px; /* Espaçamento entre as linhas */
        }
        .input-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px; /* Espaçamento entre as linhas */
        }
        input[type="text"], input[type="date"], input[type="file"], input[type="time"], select.form-control-sm {
            width: 220px;
            height: 30px;
            margin: auto; 
        }
        #btnsalvar {
            display: block;
            margin: auto;
            width: 140px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#cpf_condomino').mask('000.000.000-00');
            $('#btnsalvar').click(function(event) {
                var cpf = $('#cpf_condomino').val().replace(/\D/g, '');
                $('#cpf_condomino').val(cpf);
            });
        });
    </script>
</head>
<body>
    <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'ocorrencias_list' %}">CONDOMINIUM</a>
        </div>
    </nav>
    <main class="container">
        <h1 id="titulo">CADASTRO DE OCORRÊNCIAS</h1>

        <div class="painel" style="height: 500px;">
            
            <form method="POST" action="{% url 'ocorrencias_create' %}" enctype="multipart/form-data">
                {% csrf_token %}                    

                <div class="container-cols d-flex justify-content-center">
                
                    <!-- Coluna 1 -->
                    <div id="coluna1" class="input-col-md-2">

                        <div class="input-bottom">
                            <label for="cpf_condomino" class="form-label">CPF do Condômino:</label>
                            <input type="text" class="form-control" id="cpf_condomino" name="cpf_condomino" required tabindex="1" autofocus>
                            {% if form_errors.cpf_condomino %}
                                <div class="text-danger">{{ form_errors.cpf_condomino }}</div>
                            {% endif %}
                        </div>

                        <div class="input-bottom">
                            <label for="hora_ocorrencia" class="form-label">Hora ocorrência:</label>
                            <input type="time" class="form-control" id="hora_ocorrencia" name="hora_ocorrencia" tabindex="3" required>
                            {% if form_errors.data_ocorrencia %}
                                <div class="text-danger">{{ form_errors.hora_ocorrencia }}</div>
                            {% endif %}
                        </div>

                        <div class="input-bottom">
                            <label for="documento_ocorrencia" class="form-label">Documento:</label>
                            <input type="file" class="form-control" id="documento_ocorrencia" name="documento_ocorrencia" required tabindex="5">
                            {% if form_errors.documento_ocorrencia %}
                                <div class="text-danger">{{ form_errors.documento_ocorrencia }}</div>
                            {% endif %}
                        </div>

                    </div>

                    <!-- Coluna 2 -->
                    <div id="coluna2" class="input-col-md-2">

                        <div class="input-bottom">
                            <label for="data_ocorrencia" class="form-label">Data ocorrência:</label>
                            <input type="date" class="form-control" id="data_ocorrencia" name="data_ocorrencia" tabindex="2" required>
                            {% if form_errors.data_ocorrencia %}
                                <div class="text-danger">{{ form_errors.data_ocorrencia }}</div>
                            {% endif %}
                        </div>

                        <div class="input-bottom">
                            <label for="dsc_ocorrencia" class="form-label">Descrição:</label>
                            <input type="text" class="form-control" id="dsc_ocorrencia" name="dsc_ocorrencia" maxlength="60" tabindex="4" required>
                            {% if form_errors.dsc_ocorrencia %}
                                <div class="text-danger">{{ form_errors.dsc_ocorrencia }}</div>
                            {% endif %}
                        </div>

                        <div class="input-bottom">
                            <label for="n_condominio" class="form-label">Condomínio:</label>
                            <select id="n_condominio" name="n_condominio" class="form-control-sm" tabindex="6">
                                <option value="">Condomínio</option>
                                {% for condominio in condominios %}
                                    <option value="{{ condominio.n_condominio }}">{{ condominio.nome_condominio }}</option>
                                {% endfor %}
                            </select>
                        </div> 
                    </div>                   
                </div><br><br><br>                
                <button type="submit" class="btn btn-primary" id="btnsalvar">Salvar</button>
            </form>
        </div>
    </main>
</body>
</html>
