<!doctype html>
<html lang="pt-br">
{% load custom_filters %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Folhas de Estilo Externas -->
        <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Folhas de Estilo Locais -->
        <link rel="stylesheet" href="/static/css/controle_bancario.css">
        <title>SGC</title>
        <style>
            /* altera ambiente do cabeçalho e linha q fica abaixo */
            .auto-layout {
                table-layout: auto; /* Ajusta o layout da tabela conforme o conteúdo */
                margin-left: auto;
                margin-right: auto;
                /* border-collapse: separate; */
                border-spacing: 0px; /* Aumenta a distância entre as colunas */
            }
            /* altera ambiente do botão cadastrar e buscar */
            .box {
                width: 350px;
                height: 32px;
                display: inline-block;
                margin-right: 20px; /* Adiciona margem à direita para separar as divs horizontalmente */
                margin-bottom: 20px; /* Adiciona margem inferior para separar as divs verticalmente */
            }

            #saldo{
                font-size: larger;
            }
        </style>
    </head>

    <body>
        <!-- Barra de Navegação -->
        <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">CONDOMINIUM</a>
            </div>
        </nav>

        <!-- Corpo da Página -->
        <main class="container">
            <h1 id="titulo_list">CONTROLE BANCÁRIO</h1>

            <!-- Opções de Pesquisa e Cadastro -->
            <div class="container_1">
                <div class="box">
                    <a href="{% url 'bancos_create' %}" class="btn btn-primary" id="cadastrar">CADASTRAR MOVIMENTOS</a>
                </div>

                <div class="box" id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Data do lançamento" />
                    <button id="btnBusca">BUSCAR</button>
                </div>

                <div class="box" id="saldo" style="margin-left: 3cm;">
                    <strong>SALDO TOTAL:</strong>
                    <strong><span id="saldo-total" style="margin-left: 1cm;">R$ 0,00</span></strong>
                </div>
                
            </div>

            <!-- Tabela de Contas a Receber -->
            <table id="BancosTable" class="table auto-layout">
                <thead>
                    <tr>
                        <th scope="col" class="close-th">DATA</th>
                        <th scope="col" class="close-th">HISTÓRICO</th>
                        <th scope="col" class="close-th">CRÉDITO</th>
                        <th scope="col" class="close-th">DÉBITO</th>
                        <th scope="col" class="close-th">SALDO</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for bc in bancos_list %}
                    <tr>
                        <td>{{ bc.data_banco|date:"d/m/y" }}</td>    
                        <td>{{ bc.historico_banco }}</td>
                        <td class="credito">{% if bc.valor_banco > 0 %}{{ bc.valor_banco|currency_brl |default_if_none:'' }}{% endif %}</td>
                        <td class="debito">{% if bc.valor_banco < 0 %}{{ bc.valor_banco|currency_brl |default_if_none:'' }}{% endif %}</td>
                        <!-- <td class="saldo"|currency_brl |default_if_none:''></td> -->
                        <td class="saldo">{{ bc.valor_banco|currency_brl|default_if_none:'' }}</td>
                        <td style="border: none; width:200px">
                            <a href="{% url 'bancos_update' pk=bc.pk %}" class="btn btn-primary btn-sm">ALTERAR</a>
                            <a href="{% url 'bancos_delete' pk=bc.pk %}" class="btn btn-danger btn-sm">EXCLUIR</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        
                    </tr>
                </tfoot>
            </table>
        </main>

        <!-- Scripts JavaScript -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                function updateSaldos() {
                    let saldoAcumulado = 0;
                    const rows = document.querySelectorAll('#table-body tr');

                    rows.forEach(row => {
                        const credito = parseFloat(row.querySelector('.credito')?.textContent.replace('.', '').replace(',', '.')) || 0;
                        const debito = parseFloat(row.querySelector('.debito')?.textContent.replace('.', '').replace(',', '.')) || 0;

                        saldoAcumulado += credito;  // Adiciona crédito ao saldo acumulado
                        saldoAcumulado += debito;   // Adiciona débito (negativo) ao saldo acumulado

                        // Atualiza o saldo da linha atual formatando para moeda brasileira
                        row.querySelector('.saldo').textContent = "R$ " + saldoAcumulado.toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
                    });

                    // Atualiza o saldo total na parte inferior da tabela
                    document.getElementById('saldo-total').textContent = "R$ " + saldoAcumulado.toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
                }

                updateSaldos();
            });

             // Função para manipular a pesquisa/filtragem
            function handleSearch() {
                document.getElementById('txtBusca').addEventListener('input', function () {
                    var searchText = this.value.toLowerCase();
                    var rows = document.querySelectorAll('#BancosTable tbody tr'); 

                    rows.forEach(function (row) {
                        var data_banco = row.cells[0].textContent.toLowerCase();
                        // Check if the 'data_banco' contains the search text
                        if (data_banco.includes(searchText)) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            }


            // Ouvinte de evento para DOMContentLoaded para chamar as funções necessárias
            document.addEventListener('DOMContentLoaded', function () {
                handleSearch();
            });

        </script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
