<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Folhas de Estilo Externas -->
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Folhas de Estilo Locais -->
    <link rel="stylesheet" href="/static/css/colaboradores.css">
    <title>SGC</title>
</head>

<body>
    <!-- Barra de Navegação -->
    <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">CONDOMINIUM</a>
        </div>
    </nav>

    <!-- Corpo da Página -->
    <main class="container">
        <h1 id="titulo_list">COLABORADORES</h1>

        <!-- Opções de Pesquisa e Cadastro -->
        <div class="container_1">
            <div class="box">
                <a href="{% url 'colaboradores_create' %}" class="btn btn-primary" id="cadastrar">CADASTRAR</a>
            </div>

            <div class="box" id="divBusca">
                <input type="text" id="txtBusca" placeholder="CPF/Nome" />
                <button id="btnBusca">BUSCAR</button>
            </div>
        </div>

        <!-- Tabela de Usuários -->
        <table id="condominosTable" class="table">
            <thead>
                <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">
                        <a href="#" class="sort-header link-arrow down" data-sort="nome_colaborador">
                            NOME
                            <span class="sort-icon"></span>
                            <span class="sorting-label"></span>
                        </a>
                    </th>                 
                    <th scope="col">NASCIMENTO</th>
                    <th scope="col">ENDEREÇO</th>                  
                    <th scope="col">TELEFONE</th>
                    <th scope="col">CELULAR</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">NOME CONTATO</th>
                    <th scope="col">CELULAR CONTATO</th>                  
                    <th scope="col">CONDOMÍNIO</th>
                </tr>
            </thead>
            <tbody>
                {% for colab in colaboradores_list %}
                <tr>
                    <td>{{ colab.cpf_colaborador }}</td>
                    <td>{{ colab.nome_colaborador }}</td>
                    <td>{{ colab.data_nascimento_colaborador|date:'Y-m-d' }}</td>
                    <td>{{ colab.endereco_colaborador }}</td>
                    <td class="celular">{{ colab.telefone_colaborador }}</td>
                    <td class="celular">{{ colab.celular_colaborador }}</td>
                    <td>{{ colab.email_colaborador }}</td>
                    <td>{{ colab.nome_contato_colaborador }}</td>
                    <td>{{ colab.celular_contato_colaborador }}</td>
                    <td>{{ colab.n_condominio.nome_condominio }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'colaboradores_update' pk=colab.pk %}" class="btn btn-primary btn-sm">ALTERAR</a>
                            <a href="{% url 'colaboradores_delete' pk=colab.pk %}" class="btn btn-danger btn-sm">EXCLUIR</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <script>
        // Função para formatar CPF no modelo xxx.xxx.xxx-xx
        function formatCPF() {
            var cpfs = document.querySelectorAll('#condominosTable tbody td:first-child');
            cpfs.forEach(function (element) {
                var cpf = element.textContent.trim();

                if (cpf.length === 11) {
                    cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
                } else if (cpf.length === 10) {
                    cpf = cpf.replace(/(\d{2})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
                }

                element.textContent = cpf;
            });
        }

        // Função para manipular a ordenação das colunas
        function handleSort() {
            var headers = document.querySelectorAll('.sort-header');
            headers.forEach(function (header) {
                header.addEventListener('click', function (event) {
                    event.preventDefault(); // Evita comportamento padrão do link
                    var column = this.getAttribute('data-sort');
                    var isAscending = this.classList.contains('asc');
                    toggleSortIcon(this, isAscending);
                    sortTable(column, isAscending);
                });
            });
        }

        // Função para alternar o ícone de ordenação
        function toggleSortIcon(header, isAscending) {
            header.classList.toggle('asc', !isAscending);
            header.classList.toggle('desc', isAscending);
        }

        // Função para ordenar as linhas da tabela
        function sortTable(column, isAscending) {
            var table = document.getElementById('condominosTable');
            var tbody = table.querySelector('tbody');
            var rows = Array.from(tbody.rows);
            var columnIndex = Array.from(table.querySelectorAll('th')).findIndex(th => th.querySelector(`[data-sort="${column}"]`));

            rows.sort(function (a, b) {
                var x = a.cells[columnIndex].textContent.trim().toLowerCase();
                var y = b.cells[columnIndex].textContent.trim().toLowerCase();
                return isAscending ? x.localeCompare(y) : y.localeCompare(x);
            });

            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
            }

            rows.forEach(function (row) {
                tbody.appendChild(row);
            });
        }

        // Função para manipular a pesquisa/filtragem            
        function handleSearch() {
            document.getElementById('txtBusca').addEventListener('input', function () {
                var searchText = this.value.toLowerCase();
                var rows = document.querySelectorAll('#condominosTable tbody tr');

                rows.forEach(function (row) {
                    var nome_colaborador = row.cells[1].textContent.toLowerCase();
                    var cpf_colaborador = row.cells[0].textContent.toLowerCase();
                    if (nome_colaborador.includes(searchText) || cpf_colaborador.includes(searchText)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        }

        window.addEventListener('load', function () {
            handleSort();
            handleSearch();
            formatCPF();
        });
    </script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
