<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SGC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/plano-contas.css">

    <style>
        .container-cols {
            display: flex;
            gap: 20px; /* Espaçamento entre as colunas */
        }
        .input-col {
            flex: 1; /* Cada coluna ocupa o mesmo espaço */
            display: flex;
            flex-direction: column;
        }
        .input-col .input-row {
            margin-bottom: 80px; /* Espaçamento entre as linhas */
        }
        .input-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px; /* Espaçamento entre as linhas */
        }
        input[type="text"], input[type="number"], input[type="tel"], input[type="email"], input[type="date"], select {
            width: 220px;
        }
        #btnsalvar {
            display: block;
            margin: auto;
            width: 140px;
        }
        .field-error {
            border: 2px solid red;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
</head>
<body>
    <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'receita_list' %}">CONDOMINIUM</a>
        </div>
    </nav>
    <main class="container">
        <h1 id="titulo">CADASTRO DE CONTA A RECEBER</h1><br>
        
        <div class="painel" style="">
            <form method="POST" action="{% url 'receita_create' %}">
                {% csrf_token %}
                <div>
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <li><strong>{{ field }}:</strong> {{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}                    
                </div>
            <div class="horizontal-container">
    
                <div class="input-bottom">
                    <label for="id_parent">Categoria:</label>
                        <select name="categoria" id="id_categoria" class="form-control-sm">
                            <option value="">-- Selecione --</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.get_nivel }} {{ categoria.nome }}</option>
                            {% endfor %}
                        </select>
                </div>
                
            </div>

            <div class="input-bottom">
                <label for="data_vencimento" class="form-label">Data Vencimento:</label>
                <input type="date" class="form-control-sm" id="data_vencimento" name="data_vencimento" required autofocus>
                {% if form_errors.data_vencimento %}
                <div class="text-danger">{{ form_errors.data_vencimento }}</div>
                {% endif %}
            </div>
            
            <div class="input-bottom">
                <label for="numero_documento" class="form-label">Nº Documento:</label>
                <input type="text" class="form-control-sm" id="numero_documento" name="numero_documento" required>
                {% if form_errors.numero_documento %}
                <div class="text-danger">{{ form_errors.numero_documento }}</div>
                {% endif %}
            </div>
            
            <div class="input-bottom">
                <label for="tipo_documento" class="form-label">Tipo Documento:</label>
                <select class="form-control-sm" id="tipo_documento" name="tipo_documento" required>
                    {% for value, label in form.tipo_documento.field.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
                {% if form_errors.tipo_documento %}
                <div class="text-danger">{{ form_errors.tipo_documento }}</div>
                {% endif %}
            </div>

            <div class="input-bottom">
                <label for="descricao" class="form-label">Descrição:</label>
                <input type="text" class="form-control-sm" id="descricao" name="descricao" required>
                {% if form_errors.descricao %}
                <div class="text-danger">{{ form_errors.descricao }}</div>
                {% endif %}
            </div>

            <div class="input-bottom">
                <label for="valor" class="form-label">Valor:</label>
                <input type="number" class="form-control-sm" id="valor" name="valor" required>
                {% if form_errors.valor %}
                <div class="text-danger">{{ form_errors.valor }}</div>
                {% endif %}
            </div>
            
            <div class="input-bottom">
                <label for="n_condominio" class="form-label">Número Condomínio:</label>
                <select class="form-control-sm" id="n_condominio" name="n_condominio" required>
                    <option value="">Condomínio</option>
                    {% for condominio in condominios %}
                    <option value="{{ condominio.n_condominio }}">{{ condominio.n_condominio }} - {{ condominio.nome_condominio }}</option>
                    {% endfor %}
                </select>
                {% if form_errors.n_condominio %}
                <div class="text-danger">{{ form_errors.n_condominio }}</div>
                {% endif %}
            </div>

            

                <div class="input-bottom">
                    <button type="submit" class="btn btn-primary" id="btnsalvar">Salvar</button>
                </div>
                
                <div class="input-bottom">
                    <a href="{% url 'receita_list' %}" class="btn btn-secondary" id="btnsair">Sair</a>
                </div>
            
            </form>
        </div>
    </main>
    
    <script>
  

    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGzF9RAp6F3E6pbb7zJpPHT6f6Ffhh0GgiVNU7BRSK7jl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-QF2mxF1WBbKV5wzELpLhjlbsABsUcQ8Lqyf2z5LN6go6abkFZxWfXaBgEKTt9iZS" crossorigin="anonymous"></script>
</body>
</html>
