<!doctype html>
<html lang="pt-br">
    {% load custom_filters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Folhas de Estilo Externas -->
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Folhas de Estilo Locais -->
    <link rel="stylesheet" href="/static/css/produtividades.css">
    <title>SGC</title>
</head>

<body>
    <!-- Barra de Navegação -->
    <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">CONDOMINIUM</a>
        </div>
    </nav>

    <!-- Corpo da Página -->
    <main class="container">
        <h1 id="titulo_list">PRODUTIVIDADE</h1>

        <!-- Opções de Pesquisa e Cadastro -->
        <div class="container_1">
            <div class="box">
                <a href="{% url 'produtividades_create' %}" class="btn btn-primary" id="cadastrar">CADASTRAR ATIVIDADES</a>
            </div>

            <div class="box" id="divBusca">
                <input type="text" id="txtBusca" placeholder="Nome Colaborador" />
                <button id="btnBusca">BUSCAR</button>
            </div>
        </div>

        <!-- Tabela de pets -->
        <table id="produtividadesTable" class="table auto-layout">
            <thead>
                <tr>
                    <th scope="col" class="close-th">COLABORADOR</th>
                    <th scope="col" class="close-th">ATIVIDADE</th>
                    <th scope="col" class="close-th">LOCAL ATIVIDADE</th>
                    <th scope="col" class="close-th">TEMPO EXECUÇÃO</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in produtividades_list %}
                    <tr>
                        <td>{{ prod.cpf_colaborador.nome_colaborador }}</td>
                        <td>{{ prod.nome_tarefa }}</td>
                        <td>{{ prod.local_tarefa }}</td>
                        <td>{{ prod.tempo_execucao }}</td>
                        <td style="border: none; width:200px">
                            <a href="{% url 'produtividades_update' pk=prod.pk %}" class="btn btn-primary btn-sm">ALTERAR</a>
                            <a href="{% url 'produtividades_delete' pk=prod.pk %}" class="btn btn-danger btn-sm">EXCLUIR</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <!-- Scripts JavaScript -->
    <script>
        // Função para manipular a pesquisa/filtragem
        function handleSearch() {
            document.getElementById('txtBusca').addEventListener('input', function () {
                var searchText = this.value.toLowerCase();
                var rows = document.querySelectorAll('#produtividadesTable tbody tr');

                rows.forEach(function (row) {
                    var nome_colaborador = row.cells[0].textContent.toLowerCase();
                    // Check if either username or CPF contains the search text
                    if (nome_colaborador.includes(searchText)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        }

        // Ouvinte de evento para DOMContentLoaded para chamar as funções necessárias
        document.addEventListener('DOMContentLoaded', function () {
            handleSearch();
        });
    </script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
