<!-- templates/moradores/moradores_create.html -->
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SGC</title>
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/condominos.css">
    <style>
        .container-cols {
            display: flex;
            gap: 20px; /* Espaçamento entre as colunas */
        }
        .input-col {
            flex: 1; /* Cada coluna ocupa o mesmo espaço */
            display: flex;
            flex-direction: column;
        }
        .input-col .input-row {
            margin-bottom: 20px; /* Espaçamento entre as linhas */
        }
        .form-control-sm {
            /* width: 50%;  */
        }
        input[type="text"], input[type="date"], select.form-control-sm {
            width: 220px;
            height: 30px;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'condominos_list' %}">CONDOMINIUM</a>
        </div>
    </nav>

    <main class="container">
        <h1 id="titulo_list">CADASTRO DE CONDÔMINOS</h1> <br>
        <form method="POST">
            {% csrf_token %}
            <div class="container-cols d-flex justify-content-center">
                
                <!-- Coluna 1 -->
                <div id="coluna1" class="input-col-md-2">
                    <div class="input-row">
                        <div class="input-bottom">
                            <label for="cpf_condomino">CPF:</label><br>
                            <input id="cpf_condomino" name="cpf_condomino" class="form-control-sm" type="text" minlength="11" maxlength="11" tabindex="1" autofocus>
                        </div>
                        
                        <div class="input-top input-bottom">
                            <label for="telefone_condomino">Telefone:</label><br>
                            <input id="telefone_condomino" name="telefone_condomino" class="form-control-sm" type="text" minlength="10" maxlength="10" tabindex="4">
                        </div>

                        <div class="input-top input-bottom">
                            <label for="data_aquisicao_imovel">Aquisição imóvel:</label><br>
                            <input id="data_aquisicao_imovel" name="data_aquisicao_imovel" class="form-control-sm" type="date" minlength="10" maxlength="10" tabindex="7">
                        </div>
                     
                    </div>
                </div>

                <!-- Coluna 2 -->
                <div id="coluna2" class="input-col-md-2">
                    <div class="input-row">
                        <div class="input-top input-bottom">
                            <label for="nome_condomino">Nome:</label><br>
                            <input id="nome_condomino" name="nome_condomino" class="form-control-sm" type="text" maxlength="40" tabindex="2">
                        </div>
                       
                        <div class="input-top input-bottom">
                            <label for="celular_condomino">Celular:</label><br>
                            <input id="celular_condomino" name="celular_condomino" class="form-control-sm" type="text" minlength="11" maxlength="11" tabindex="5">
                        </div>

                        <div class="input-top input-bottom">
                            <label for="n_condominio">Condomínio:</label><br>
                            <select id="n_condominio" name="n_condominio" class="form-control-sm" tabindex="8">
                                <option value="">Condomínio</option>
                                {% for condominio in condominios %}
                                <option value="{{ condominio.n_condominio }}">{{ condominio.n_condominio }} - {{ condominio.nome_condominio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Coluna 3 -->
                <div id="coluna3" class="input-col-md-2">
                    <div class="input-row">
                        <div class="input-bottom">
                            <label for="data_nascimento_condomino">Nascimento:</label><br>
                            <input id="data_nascimento_condomino" name="data_nascimento_condomino" class="form-control-sm" type="date" minlength="10" maxlength="10" tabindex="3">
                        </div>
                        
                        <div class="input-top input-bottom">
                            <label for="email_condomino">E-mail:</label><br>
                            <input id="email_condomino" name="email_condomino" class="form-control-sm" type="text" minlength="4" maxlength="40" tabindex="6">
                        </div>                       
                    </div>
                </div>
            </div>
            <br><br>
            <button id="btnsalvar" type="submit">SALVAR</button>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>