<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Folhas de Estilo Externas -->
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Folhas de Estilo Locais -->
    <link rel="stylesheet" href="/static/css/condominos.css">
    <title>SGC</title>
</head>

<body>
    <!-- Barra de Navegação -->
    <nav class="navbar bg-dark mb-30" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">CONDOMINIUM</a>
        </div>
    </nav>

    <!-- Corpo da Página -->
    <main class="container">
        <h1 id="titulo_list">CONDÔMINOS</h1>

        <!-- Opções de Pesquisa e Cadastro -->
        <div class="container_1">
            <div class="box">
                <a href="{% url 'condominos_create' %}" class="btn btn-primary" id="cadastrar">CADASTRAR CONDÔMINOS</a>
            </div>

            <div class="box" id="divBusca">
                <input type="text" id="txtBusca" placeholder="CPF/Nome" />
                <button id="btnBusca">BUSCAR</button>
            </div>
        </div>

        <!-- Tabela de Usuários -->
        <table id="condominosTable" class="table">
            <thead>
                <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">
                        <a href="#" class="sort-header link-arrow down" data-sort="nome_condomino">
                            NOME
                            <span class="sort-icon"></span>
                            <span class="sorting-label"></span>
                        </a>
                    </th>
                    <th scope="col">NASCIMENTO</th>                  
                    <th scope="col">TELEFONE</th>
                    <th scope="col">CELULAR</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">
                        <a href="#" class="sort-header link-arrow down" data-sort="data_aquisicao_imovel">
                            PROPRIETÁRIO DESDE
                            <span class="sort-icon"></span>
                            <span class="sorting-label"></span>
                        </a>
                    </th>
                    <th scope="col">CONDOMÍNIO</th>
                </tr>
            </thead>
            
            <tbody>
                {% for cond in condominos_list %}
                    <tr>
                        <td>{{ cond.cpf_condomino }}</td>
                        <td>{{ cond.nome_condomino }}</td>
                        <td>{{ cond.data_nascimento_condomino|date:'d/m/Y' }}</td>
                        <td class="telefone">{{ cond.telefone_condomino }}</td>
                        <td class="celular">{{ cond.celular_condomino }}</td>
                        <td>{{ cond.email_condomino }}</td>
                        <td>{{ cond.data_aquisicao_imovel|date:'d/m/Y' }}</td>
                        <td>{{ cond.n_condominio.n_condominio }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'condominos_update' pk=cond.pk %}" class="btn btn-primary btn-sm">ALTERAR</a>
                                <a href="{% url 'condominos_delete' pk=cond.pk %}" class="btn btn-danger btn-sm">EXCLUIR</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <script>
        // Função para formatar CPF no modelo xxx.xxx.xxx-xx
        function formatCPF() {
            var cpfs = document.querySelectorAll('#condominosTable tbody td:first-child');
            cpfs.forEach(function (element) {
                var cpf = element.textContent.trim();

                if (cpf.length === 11) {
                    cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
                } else if (cpf.length === 10) {
                    cpf = cpf.replace(/(\d{2})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
                }

                element.textContent = cpf;
            });
        }

        // Função para formatar número de telefone no modelo (xx) xxxx-xxxx
        function formatarTelefone() {
            var telefones = document.querySelectorAll('#condominosTable tbody .telefone');
            telefones.forEach(function (element) {
                var telefone = element.textContent.trim().replace(/\D/g, '');

                if (telefone.length === 10) {
                    telefone = telefone.replace(/(\d{2})(\d{4})(\d{4})/, '($1) $2-$3');
                }

                element.textContent = telefone;
            });
        }

        // Função para formatar número de celular no modelo (xx) xxxxx-xxxx
        function formatarCelular() {
            var celulares = document.querySelectorAll('#condominosTable tbody .celular');
            celulares.forEach(function (element) {
                var celular = element.textContent.trim().replace(/\D/g, '');

                if (celular.length === 11) {
                    celular = celular.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
                }

                element.textContent = celular;
            });
        }

        // Função para manipular a ordenação das colunas
        function handleSort() {
            var headers = document.querySelectorAll('.sort-header');
            headers.forEach(function (header) {
                header.addEventListener('click', function (event) {
                    event.preventDefault(); // Evita comportamento padrão do link
                    var column = this.getAttribute('data-sort');
                    var isAscending = this.classList.contains('asc');
                    toggleSortIcon(this, isAscending);
                    sortTable(column, isAscending);
                });
            });
        }

        // Função para alternar o ícone de ordenação
        function toggleSortIcon(header, isAscending) {
            header.classList.toggle('asc', !isAscending);
            header.classList.toggle('desc', isAscending);
        }

        // Função para ordenar as linhas da tabela
        function sortTable(column, isAscending) {
            var table = document.getElementById('condominosTable');
            var tbody = table.querySelector('tbody');
            var rows = Array.from(tbody.rows);
            var columnIndex = Array.from(table.querySelectorAll('th')).findIndex(th => th.querySelector(`[data-sort="${column}"]`));

            rows.sort(function (a, b) {
                var x = a.cells[columnIndex].textContent.trim().toLowerCase();
                var y = b.cells[columnIndex].textContent.trim().toLowerCase();
                return isAscending ? x.localeCompare(y) : y.localeCompare(x);
            });

            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
            }

            rows.forEach(function (row) {
                tbody.appendChild(row);
            });
        }

        // Função para manipular a pesquisa/filtragem            
        function handleSearch() {
            document.getElementById('txtBusca').addEventListener('input', function () {
                var searchText = this.value.toLowerCase();
                var rows = document.querySelectorAll('#condominosTable tbody tr');

                rows.forEach(function (row) {
                    var nome_condomino = row.cells[1].textContent.toLowerCase();
                    var cpf_condomino = row.cells[0].textContent.toLowerCase();
                    if (nome_condomino.includes(searchText) || cpf_condomino.includes(searchText)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        }

        window.addEventListener('load', function () {
            handleSort();
            handleSearch();
            formatCPF();
            formatarTelefone(); // Chama a função para formatar telefone
            formatarCelular(); // Chama a função para formatar celular
        });
    </script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
